body {
    font-family: 'Sofia';
    padding-top: 100px;  
    z-index: 0;
    background-color: rgba(255, 249, 241, 0.5);
}

nav {
    background-color: rgb(209, 238, 251);
    color: burlywood;
}

#brand-name {
    color: steelblue;
    text-align: center;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: darkturquoise;
}
.search button{
    border-radius: 20%;
}

nav i {
    color: turquoise;
}

.card i {
    scale: 2;
    color: turquoise;
}

.navbar-nav li.active {
    border: 2px solid turquoise;
    border-start-start-radius: 30%;
    border-end-end-radius: 30%;
    background-color: whitesmoke;
}

ul.navbar-nav {
    align-items: center;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 9999;
    left: -200px;
    background-color: rgb(231, 226, 226);
    transition: all 500ms linear;
    border-radius: 10px;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li, #sidebar ul li a{
    font-family: 'Sofia';
    color: black;
    list-style: none;
    padding: 15px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);

}

#sidebar .toggle-btn {
    background-color: rgb(9, 218, 255);
    position: absolute;
    display: flex;
    left: 210px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#sidebar .toggle-btn-burger {
    position: absolute;
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(104, 72, 72);
    background-color: whitesmoke;
    transition: all .5s cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.55s;
}

.top {
    top: 30%;
}

.middle {
    top: 50%;
}

.bottom {
    top: 70%;
}

.icon.close .top {
    transform: rotate(45deg);
    top: 50%;
}

.icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);
    top: 50%;
}

.wrapper{
    width: auto;
    height: 50px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
.search_box{
    position: relative;
}
  
.search_box input[type="text"]{
    width: 100%;
    padding: 5px;
    padding-right: 50px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}
  
#fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    font-size: 25px;
}
  
::-webkit-input-placeholder {
    color: #fff;
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}

.footer {
    background-color: #b2b2b3;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
    
}
::-webkit-scrollbar-track {
    background: rgba(5, 122, 113, 0.5);        
}
::-webkit-scrollbar-thumb {
    background-color: rgb(38, 126, 177);    
    border-radius: 20px;       
    border: 3px solid rgb(13, 95, 13); 
}

@media (prefers-color-scheme: dark) {
}

.dark-mode {
    background-color: black;
    color: white;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}
  
  .label-text {
    margin-left: 16px;
  }
  
  .toggle {
    isolation: isolate;
    position: relative;
    height: 20px;
    width: 50px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 8px 0px rgb(209, 238, 251),
      8px 4px 12px 0px rgb(158, 179, 189),
      4px 4px 4px 0px rgb(158, 179, 189) inset,
      -4px -4px 4px 0px #ffffff inset;
  }
  
  .toggle-state {
    display: none;
  }
  
  .indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
  }
  
  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }

  @media screen and (max-width: 300px) {
    .card {
        width: 200px;
        margin-bottom: 20px;
      }
  }

  @media screen and (min-width: 300px) and (max-width: 600px) {
    .card {
        width: 300px;
        margin-bottom: 20px;
      }
  }

  @media screen and (min-width: 600px) {
    .card {
        width: 500px;
        margin-bottom: 20px;
      }
  }
